html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}
.nav{
    color: #636b6f;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}
.nav a{
    color: #636b6f;
}
.pagination a{
    border-style: solid;
    border-color: #636b6f;
    border-width: 1px;
    padding: 5px;
    text-decoration: none;
    font-weight: 700;
    color: #636b6f;
}
.pagination a.active{
    font-weight: 700;
    color: #000000;
}
.pagination a.dissabled{
    font-weight: 400;
}
table{
    margin: auto;
}
input{
    text-align: center;
}
span.red{
    color: red;
}
.pull_right{
    float: right;
}
.clear_filters{
    color: #636b6f;
}
td{
    padding: 5px;
}
table input{
    width: 100%;
}